body{
    margin: 0%;
}
.carousel-a-button{
    text-decoration: none;
    padding: 5px 10px;
}
.a-button{
    color: white;
    text-decoration: none;
}
.plan-button{
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: blue;
}
/* footer{
    background-color: black;
} */