.carousel-a-button{
    text-decoration: none;
    padding: 5px 10px;
}
.a-button{
    color: white;
    text-decoration: none;
}
.plan-button{
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: blue;
}
.toast-custom{
    border-left: 8px solid rgb(33, 13, 209);
}
@media only screen and (max-width:688px) {
    .q-section{
        display: flex;
        flex-wrap: wrap;
    }
}